{:company/legal-name "Companhia Energética de Minas Gerais - CEMIG"
 :company/lei "254900W703PXLDSEM056"
 :company/jurisdiction "BR"
 :company/website "https://www.cemig.com.br"
 :company/isic-rev5 "3510"
 :company/ticker "CMIG3 / CMIG4 (B3) / CIG (NYSE ADR)"
 :company/contact-email "privacidade@cemig.com.br"}
