[["cemig-tos-1" :tos/full-text "Política de Privacidade para Clientes e Público Geral  - Cemig
Recursos de acessibilidade
Libras
Aumentar contraste
Canal de denúncias
PT
EN
Menu
Fechar
CEMIG ATENDE
Buscar
Dúvidas Frequentes
Investidores
SERVIÇOS
Cemig Atende Web
Como solicitar serviços
Atendimento
Meteorologia
Desligamento Programado
Mapa de Fornecimento de Energia
Geração Distribuída
Valores e Tarifas
Conta de luz
Iluminação Pública
Cobrança de débitos
Ouvidoria
INSTITUCIONAL
A Cemig
Governança
Chamadas Públicas
Carreiras
Legislação do Setor
Normas Técnicas
Usinas
Compartilhamento de Infraestrutura
Centrais Geradoras
Contratos e Informações ao Cliente
PATROCÍNIO
Inscreva seu projeto
RELACIONAMENTO
Investidores
Fornecedores
Portal dos Terceiros Legalmente Habilitados
INFORMAÇÃO
Dúvidas Frequentes
PROGRAMAS
Plano de Ação de Emergência (PAE)
PRODUTOS
Energia Livre Cemig
Cemig SIM
SERVIÇOS MAIS ACESSADOS
2ª via da conta
Troca de titularidade
Estou sem luz
Religação
Desligamento Programado
Ligação nova
Agendar atendimento
Tarifa social
Todos os serviços
2ª via da conta
Estou sem Luz
Cemig Atende
Selecione o idioma
Português
Inglês
Governança
Privacidade e Transparência
Política de Privacidade para Clientes e Público Geral
Todas as páginas relacionadas
Governança
Conduta Ética e Compliance
Código de Conduta Cemig
Canal de Denúncias Cemig
Movimento Transparência 100%
Política de Compliance e Antissuborno
Compliance para Fornecedores
Privacidade e Transparência
Lei Geral de Proteção de Dados (LGPD)
Contato com o Encarregado (DPO)
Política de Privacidade para Clientes e Público Geral
Requisição de direito do titular
Registro de Incidentes
Transparência: Lei de Acesso à Informação (LAI)
Relatório Anual de Atividades da Auditoria Interna (RAINT)
Relatório de Transparência Salarial
Política de Segurança da Informação e Segurança Cibernética da Cemig
Conselho de Consumidores
Monitoramento Prudencial
Estatutos e Regimentos
Governança
Política de Privacidade para Clientes e Público Geral
A Política de Privacidade e Proteção de Dados da Cemig é o documento que descreve as práticas e medidas de Privacidade e Segurança adotadas em nossa companhia.
Seu objetivo é fornecer informações sobre como a empresa obtém, utiliza, armazena e protege os dados pessoais que coleta, a fim de garantir transparência aos nossos titulares de dados.
No Brasil, existem normas que regulamentam a forma como empresas e pessoas físicas devem utilizar dados pessoais de terceiros. Na Cemig, seguimos as melhores práticas para proteger as informações pessoais de todos que interagem com a companhia, em conformidade com todas as normas aplicáveis.
A quem essa Política é destinada?
A Política de Privacidade e Proteção de Dados da Cemig é destinada a todos que, direta ou indiretamente, utilizam os serviços da Cemig.
Os serviços da Cemig são destinados a maiores de 18 anos ou menores emancipados. Por este motivo, a Cemig não usa dados de crianças ou adolescentes, no entanto, poderemos usar dados de menores de idade em situações pontuais, para o cumprimento de obrigações legais ou regulatórias e para o exercício dos direitos da Cemig em processos administrativos ou judiciais.
Caso tenha dúvidas sobre esta política, entre em contato através do e-mail: privacidade@cemig.com.br .
Quais dados pessoais a Cemig usa?
Para prestar os seus serviços, a Cemig precisa coletar e usar alguns dados, como:
Nome completo;
Idade;
Data e local de nascimento;
Gênero;
Nacionalidade;
Fotografia;
Filiação;
Identificação gerada por órgãos fiscais;
Informações residenciais;
Informações sobre dispositivos móveis;
Informações financeiras, entre outros.
Para quais finalidades a Cemig usa os meus dados?
Os seus dados são utilizados para:
Apurar ocorrência de fraudes nas instalações de energia ou situações irregulares;
Apurar denúncias à ouvidoria;
Atender solicitações realizadas pelo titular por atendimento presencial ou via web;
Cadastrar clientes;
Cumprir obrigações legais;
Elaborar relatórios e planejar negócios;
Exercer direitos ou defender-se em processos administrativos e judiciais;
Prestar serviços de fornecimento de energia elétrica e os serviços administrativos correlatos;
Realizar serviços de campo, instalações, trocas de equipamentos;
Garantir o relacionamento comercial com os clientes.
Como essas informações são obtidas?
Os dados pessoais utilizados pela Cemig podem ser fornecidos diretamente pelo titular ou por terceiros, como: ANEEL, Secretarias e Ministérios relacionados a programas de políticas públicas.
Quem tem acesso às minhas informações e dados pessoais?
Para garantir o fornecimento de energia elétrica e a prestação dos serviços relacionados, a Cemig compartilha dados pessoais apenas com terceiros diretamente envolvidos na prestação desses serviços.
O compartilhamento de dados ocorre somente nas seguintes situações:
Quando houver consentimento formal do titular dos dados;
Quando a transferência for necessária para o cumprimento de obrigações legais;
No exercício regular de direitos em processos judiciais ou administrativos e arbitrais pela Cemig;
Para execução de um contrato ou atendimento de interesses legítimos do titular dos dados ou da Cemig.
Em outros casos, a Cemig também poderá compartilhar dados de seus clientes com órgãos públicos , em atendimento a convênios firmados com essas instituições.
A Cemig poderá realizar transferência de dados pessoais para o exterior quando o titular representar empresas estrangeiras ou quando o cumprimento do contrato exigir, sempre garantindo que essas transferências atendam aos requisitos legais aplicáveis.
Em nenhuma hipótese a Cemig vende dados pessoais a terceiros.
Como posso controlar o uso dos meus dados?
Os titulares de dados pessoais podem exercer controle sobre o uso de suas informações por meio dos direitos garantidos pela Lei Geral de Proteção de Dados (LGPD). Entre esses direitos estão confirmar a existência de dados, acessá-los, corrigi-los, atualizá-los, entre outros.
Para isso, o usuário deve realizar uma “Petição de Titulares” acessando o “ Formulário de Solicitação dos Titulares dos Dados Pessoais ”, exclusivo para pessoas físicas.
O que a Cemig faz para proteger os meus dados?
Para manter a segurança dos seus dados, a Cemig possui uma Política de Segurança da Informação bastante sólida, que é revisada regularmente por meio de auditorias e inspeções. A política está alinhada com as diretrizes estratégicas da empresa e com as exigências legais e regulatórias.
Além disso, a Cemig adota outras medidas para proteger dados pessoais, como :
Exigência para que todos os colaboradores realizem o treinamento de privacidade e proteção de dados e, assim, mantenham a confidencialidade a respeito das informações pessoais às quais tenham acesso;
Procedimentos para restringir acesso aos dados pessoais não autorizados;
Transparência a respeito do tratamento de dados pessoais realizados;
Monitoramento de compartilhamentos realizados;
Disponibilização de formulário para titulares informem incidentes de segurança.
Anexos
Política de Privacidade de Dados para Clientes e Público Geral
Baixar arquivo
FALE COM A CEMIG
116
FORA DO ESTADO DE MG
0800 721 0116
PESSOAS COM DEFICIÊNCIA AUDITIVA
0800 723 8007
OUVIDORIA
0800 728 3838
BAIXE O APP CEMIG ATENDE
CEMIG NAS REDES SOCIAIS
Preferências de cookies
CEMIG 2026© - Todos os Direitos Reservados" 1 :add]
 ["cemig-tos-1" :tos/source-url "https://www.cemig.com.br/governanca/privacidade-e-transparencia/politica-de-privacidade-para-clientes-e-publico-geral/" 1 :add]
 ["cemig-tos-1" :tos/retrieved-at "2026-07-24T15:24:59Z" 1 :add]
 ["cemig-tos-1" :tos/sha256 "b6a3dfbd84513bae19bdc99670432d0c59f98661fde2a40fd48ba226f0fa9c2d" 1 :add]
 ["cemig-tos-1" :tos/doc-type :privacy-policy 1 :add]]
